*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif ;
}

body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #151515;
}

body::-webkit-scrollbar-thumb{
    background-color: #23d5ab;
}

body{
    padding-top: 100px;
}

#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main-text{
    font-size: 1.5rem;
    line-height: 1.1;
}

.imgi{
    display: grid;
    grid-template-columns: 1fr 1;
    grid-column: 2;
    padding: 0 20px;
}

.imgi img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.main-text h1{
    font-weight: 200;
}

.main-text p{
    font-weight: 100;
}

.main-btn{
    display: inline-block;
    background: rgb(23, 121, 55);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-size: 20px;
    text-transform: capitalize;
    transform: all 0.4s ease;
    transition: 0.4s;
}

.main-btn:hover{
    background: hsl(140, 68%, 45%);
    font-size: 21px;
    border-radius: 10px;
}

.main-btn i{
    vertical-align: middle;
}

.center-text{
    text-decoration: underline;
}

.center-text h2{
    color: #111;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-text span{
    color: #EE1C47;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row{
    margin-left: 3rem;
    position: relative;
    transition: all .40s;
    width: 300px;
    background-color: #eeeee6;
    border-radius: 10px;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
    border-radius: 15px;
}

.row img:hover{
    transform: scale(0.9);
}

.product-text h5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    left: 13px;
    color: lightyellow;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: lightcoral;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
    font-size: 21px;
}

.heart-icon::after{
    color: #EE1C47;
}

.ratting{
    margin-top: 10px;
    color: #FF8C00;
    font-size: 18px;
}

.price h4{
    color: #111;
    margin-top: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price p{
    margin-top: 5px;
    color: #151515;
    font-size: 14px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    background-color: rgb(212, 192, 192);
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.first-info{
    width: 140px;
    height: auto;
}
.contact-info h4{
    color: #212529;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #EE1C47;
}

.end{
    color: #212529;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(212, 192, 192);
}

.add{
    background-color:#2c2c2c;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: none;
    border-style: none;
    width: 200px;
    height: auto;
    padding: 5px 10px;
    transform: 0.42s;
    transition: all 0.42s ease-in;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.price button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.price button:hover{
    transform: 0.42s;
    transition: all 0.42s ease-out;
    width: 180px;
    height: auto;
    font-size: 13px;
}

.price button:active{
    transform: 0.42s;
    transition: all 0.42s ease-out;
    width: 205px;
    height: auto;
    font-size: 16px;
}

@media (max-width: 768px) {
    .main-home {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 100px 20px;
    }

    .imgi {
        display: block;
        grid-column: 1;
        margin-bottom: 20px;
    }

    .main-text {
        font-size: 1.2rem;
        text-align: center;
    }
}