header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    flex: 1;
    background-color: #2c91d4;
    transition: all 0.3s ease;
}

header.sticky{
    background: #fff;
    padding: 10px 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo h1{
    max-height: 200px;
    height: auto;
    color: #463881;
    font-family: monospace;
    font-size: 3rem;
}

.logo sub{
    font-size: 1rem;
}

.navmenu{
    display: flex;
}

.navmenu a{
    color: #2c2c2c;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .42s ease;
    font-family: 'Open Sans', sans-serif ;
    transition: 0.3s;
}

.navmenu a:hover{
    color: #EE1C47;
}

.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    margin-left: 5px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {

    header {
        padding: 15px 5%;
    }

    header.sticky {
        padding: 8px 5%;
    }

    .logo h1 {
        font-size: 2rem;
    }

    .logo sub {
        font-size: 0.8rem;
    }

    .menu-toggle {
        display: block;
    }

    .navmenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #2c91d491;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        max-height: 0;
        max-height: 0;
        opacity: 50%;
        transition: all 0.4s ease-out;
    }

    .navmenu.active {
        max-height: 300px;
        opacity: 1;
    }

    .navmenu a {
        padding: 15px;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .nav-icon {
        margin-left: 10px;
    }
}