header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    flex: 1;
    background-color: #2c91d4;
}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    scroll-behavior: smooth;
}

.logo h1{
    max-height: 200px;
    height: auto;
    color: #463881;
    font-family: monospace;
    font-size: 3rem;
}

.logo sub{
    font-size: 1rem;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .42s ease;
    font-family: 'Open Sans', sans-serif ;

}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}
