.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search .icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.search .input-wrapper {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease;
    position: relative;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.search.expanded .input-wrapper {
    width: 250px;
}

.search input {
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    transform: 0.4s;
}

.search .input:active{
    transition: all 0.3s ease; 
    transform: 0.4s;
}

.search .input.active {
    display: block;
}

.search input[type="text"] {
    border-radius: 50px;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: width 0.3s ease;
}

.search-results {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0.3rem;
    border-top: 1px solid #cccccc71;
    border-radius: 18px;
    background: #ffffff7e;
    position: absolute;
    top: 2.6rem;
    left: 0;
    right: 0;
    z-index: 100;
}

.search-results li {
    padding: 0.5rem;
    cursor: pointer;
}

.search-results li a {
    color: black;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.clear {
    cursor: pointer;
    margin-left: 0.3rem;
}
