.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search .icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    z-index: 101;
}

.search .input-wrapper {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease;
    position: relative;
    display: flex;
    align-items: center;
}

.search.expanded .input-wrapper {
    width: 250px;
}

.search input[type="text"] {
    width: 100%;
    border-radius: 50px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-results {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 0.3rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.589);
    position: absolute;
    top: 2.6rem;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.search-results li {
    padding: 0.8rem;
    list-style: none;
}

.search-results li a {
    color: black;
    text-decoration: none;
    display: block;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.clear {
    cursor: pointer;
    margin-left: 0.3rem;
}

@media (max-width: 768px) {
    .search.expanded {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.521);
        z-index: 999;
        flex-direction: column;
        padding: 20px;
        align-items: flex-start;
    }

    .search.expanded .input-wrapper {
        width: 100% !important;
        margin-left: 0;
        margin-top: 50px;
    }

    .search.expanded .icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .search.expanded .search-results {
        position: relative;
        top: 20px;
        max-height: 70vh;
        width: 100%;
        background: transparent;
        box-shadow: none;
    }

    .search.expanded .search-results li a {
        background-color: rgb(107, 132, 141);
        color: rgb(6, 24, 39);
        border-radius: 5px;
        font-size: 23px;
    }
}